<div class="success">
<%=   flash[:success]  %>
</div>
<div class="show">
 <div class="s-title">
  <h3>Title:</h3>
  <p><%= @book.title %></p>
 </div>

 <div class="s-body">
 <h3>Body:</h3>
<p><%= @book.body %></p>
 </div>

 <div class="show-link">
 <div class="s-edit"><%= link_to "Edit",edit_book_path(@book.id) %></div>
 <p>|</p>
 <!--<a class="s-back" href="/books">Back</a>-->
 <div class="s-back"><%= link_to "Back" , "/books" %></div>
 </div>
</div>